<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
           <li> <a href="/authors">All Mybrary</a></li>
           <li> <a href="/authors/new">new Authors</a></li>
    </nav>
</header>